@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.menu-center {
    margin-left: 150px;
}

.slider-img {
    filter: brightness(70%);
}

.course-info p{
    font-size: 13px;
}
.register-modal {
    background-color: #289BDE;
}
.success-info {
    width: 50%;
}
.width-faq-md-sm-xs {
    width: 75%;
}
.w-logo {
    width: 10%;
}

/*--------------
 social media icon style
 --------------- */

.fa-brands {
    margin: 30px;
    font-size: 30px;
    color: white;
}

/* extra small device */
@media only screen and (max-width: 575px) {
    .menu-center {
        margin-left: 0;
    }
    
    .carusel-font h1{
        font-size: 20px;

    }
    .carusel-font p {
        font-size: 8px;
    }

    .carusel-font button {
        width: 45%;
    }

    .course-info h6{
        font-size: 25px;
    }
    .course-info p{
        font-size: 18px;
    }

    .success-info {
        width: 100%;
        text-align: center;
    }
    .join-info {
        text-align: center;
    }
    .register-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .width-faq-md-sm-xs {
        width: 100%;
    }
}



/* small devices */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .menu-center {
        margin-left: 0;
    }
    
    .carusel-font h1{
        font-size: 25px;

    }
    .carusel-font p {
        font-size: 10px;
    }

    .carusel-font button {
        width: 45%;
    }

    .course-info h6{
        font-size: 25px;
    }
    .course-info p{
        font-size: 18px;
    }

    .success-info {
        width: 100%;
        text-align: center;
    }

    .join-info {
        text-align: center;
    }
    
     
    .register-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .width-faq-md-sm-xs {
        width: 100%;
    }
    
}

/* medium devices */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .menu-center {
        margin-left: 0;
    }
    
    .course-info h6{
        font-size: 25px;
    }
    .course-info p{
        font-size: 16px;
    }

    .explore-info h3{
        font-size: 20px;
    }

    .explore-info p{
        font-size: 12px;
    }
    .success-info {
        width: 75%;
    }

    .join-info {
        text-align: center;
    }
    .width-faq-md-sm-xs {
        width: 100%;
    }
}